body{
    margin:0;
    background:linear-gradient(
135deg,
#0f172a,
#1e293b,
#0f172a
);
    color:white;
    text-align:center;
    font-family:'Poppins', sans-serif;
    padding-top:150px;
}

h1{
    font-size:60px;
    animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow{
    from{
        text-shadow:0 0 10px #60a5fa;
    }
    to{
        text-shadow:0 0 25px #60a5fa;
    }
}

h2{
    color:#60a5fa;
}

.hero p{
    font-size:20px;
    width:70%;
    margin:auto;
    margin-top:20px;
}

.buttons{
    margin-top:30px;
}

button{
    padding:12px 25px;
    margin:10px;
    border:none;
    border-radius:8px;
    background:#60a5fa;
    color:white;
    cursor:pointer;
    font-size:16px;
}
.about{
    padding:80px 15%;
}

.about h2{
    font-size:40px;
    margin-bottom:20px;
}

.about p{
    font-size:20px;
    line-height:1.8;
    color:#cbd5e1;
}
.projects{
    padding:80px 10%;
}

.projects h2{
    text-align:center;
    font-size:40px;
    margin-bottom:40px;
}

.project-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
}

.project-card{
    background:rgba(255,255,255,0.05);
    backdrop-filter:blur(10px);
    border:1px solid rgba(255,255,255,0.1);
    padding:25px;
    border-radius:15px;
    transition:0.3s;
}

.project-card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 25px rgba(96,165,250,0.5);
}

.project-card h3{
    color:#60a5fa;
    margin-bottom:15px;
}

.project-card p{
    color:#cbd5e1;
}
.skills{
    padding:80px 10%;
    text-align:center;
}

.skills h2{
    font-size:40px;
    margin-bottom:30px;
}

.skills-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:15px;
}

.skills-container span{
    background:#60a5fa;
    color:white;
    padding:12px 22px;
    border-radius:30px;
    font-weight:bold;
    transition:0.3s;
}

.skills-container span:hover{
    transform:scale(1.1);
}
.certifications{
    padding:80px 10%;
}

.certifications h2{
    text-align:center;
    font-size:40px;
    margin-bottom:40px;
}

.cert-box{
background:rgba(255,255,255,0.05);
backdrop-filter:blur(10px);
border:1px solid rgba(255,255,255,0.1);;
    padding:25px;
    border-radius:15px;
    margin-bottom:25px;
}

.cert-box h3{
    color:#60a5fa;
    margin-bottom:15px;
}

.cert-box ul{
    list-style:none;
}

.cert-box li{
    padding:8px 0;
}
.other-projects{
    padding:80px 10%;
}

.other-projects h2{
    text-align:center;
    font-size:40px;
    margin-bottom:40px;
}
.stats{
    padding:80px 10%;
    text-align:center;
}

.stats h2{
    font-size:40px;
    margin-bottom:40px;
}

.stats-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;
}

.stat-card{
background:rgba(255,255,255,0.05);
backdrop-filter:blur(10px);
border:1px solid rgba(255,255,255,0.1);;
    padding:30px;
    border-radius:15px;
    transition:0.3s;
}

.stat-card:hover{
    transform:translateY(-10px);
}

.stat-card h3{
    color:#60a5fa;
    font-size:32px;
    margin-bottom:10px;
}

.stat-card p{
    color:#cbd5e1;
}
.contact{
    padding:100px 10%;
    text-align:center;
}

.contact h2{
    font-size:40px;
    margin-bottom:20px;
}

.contact p{
    color:#ebeef0;
    margin-bottom:30px;
}

.contact-buttons a{
    display:inline-block;
    margin:10px;
    padding:15px 25px;
    background:#60a5fa;
    color:white;
    text-decoration:none;
    border-radius:10px;
    transition:0.3s;
}

.contact-buttons a:hover{
    transform:translateY(-5px);
}
.footer{
    text-align:center;
    padding:30px;
    background:#111;
    color:#cbd5e1;
    margin-top:50px;
}

.footer a{
    color:#60a5fa;
    text-decoration:none;
}

.footer a:hover{
    text-decoration:underline;
}
.project-card img{
    width:100%;
    border-radius:10px;
    margin-bottom:15px;
}
.education{
    text-align:center;
    padding:60px 20px;
}

.education-card{
    max-width:600px;
    margin:auto;
    background:rgba(255,255,255,0.05);
backdrop-filter:blur(10px);
border:1px solid rgba(255,255,255,0.1);;
    padding:25px;
    border-radius:15px;
}
.experience{
    text-align:center;
    padding:60px 20px;
}

.experience-card{
    max-width:700px;
    margin:auto;
    background:rgba(255,255,255,0.05);
    backdrop-filter:blur(10px);
    border:1px solid rgba(255,255,255,0.1);
    padding:25px;
    border-radius:15px;
}
.project-card{
    transition:0.4s ease;
}
.thank-you{
    text-align:center;
    padding:80px 20px;
}

.thank-you h2{
    color:#60a5fa;
}
.project-card{
    display:flex;
    flex-direction:column;
    height:100%;
}
.project-card strong{
    color:#60a5fa;
}
.contact-buttons a:hover,
button:hover{
    box-shadow:0 0 25px #60a5fa;
}
.about,
.projects,
.skills,
.education,
.experience,
.stats,
.contact{
    animation: fadeIn 1.2s ease;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(20px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}
.hero{
    animation: heroZoom 1.5s ease;
}

@keyframes heroZoom{
    from{
        opacity:0;
        transform:scale(0.9);
    }
    to{
        opacity:1;
        transform:scale(1);
    }
}