*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:#030712;
color:white;

}

header{

display:flex;
justify-content:space-between;
align-items:center;

padding:25px 10%;

position:fixed;
width:100%;

background:rgba(3,7,18,.85);

backdrop-filter:blur(12px);

z-index:1000;

}

.logo{

font-size:28px;
font-weight:800;
color:#3b82f6;

}

nav a{

color:white;

text-decoration:none;

margin-left:30px;

font-weight:500;

transition:.3s;

}

nav a:hover{

color:#3b82f6;

}

.hero{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

padding:0 10%;

}

.hero h3{

color:#3b82f6;

letter-spacing:5px;

margin-bottom:15px;

}

.hero h1{

font-size:70px;

line-height:1.1;

margin-bottom:20px;

}

.hero p{

font-size:20px;

color:#b0b8c4;

max-width:700px;

margin-bottom:40px;

line-height:1.8;

}

.buttons{

display:flex;

gap:20px;

}

.buttons a{

text-decoration:none;

padding:16px 35px;

border-radius:12px;

font-weight:600;

transition:.3s;

}

.btn1{

background:#3b82f6;

color:white;

}

.btn2{

border:2px solid #3b82f6;

color:#3b82f6;

}

.btn1:hover{

transform:translateY(-5px);

}

.btn2:hover{

background:#3b82f6;

color:white;

}

@media(max-width:768px){

header{

padding:20px;

flex-direction:column;

gap:15px;

}

nav{

display:flex;

gap:15px;

flex-wrap:wrap;

justify-content:center;

}

nav a{

margin:0;

}

.hero{

text-align:center;

padding:0 20px;

}

.hero h1{

font-size:42px;

}

.hero p{

font-size:17px;

}

.buttons{

flex-direction:column;

}

}
.hero{
position:relative;
overflow:hidden;
}

.bg-circle{
position:absolute;
border-radius:50%;
filter:blur(70px);
animation:float 8s infinite ease-in-out;
opacity:.35;
}

.circle1{
width:250px;
height:250px;
background:#2563eb;
top:10%;
right:8%;
}

.circle2{
width:180px;
height:180px;
background:#06b6d4;
bottom:15%;
left:10%;
animation-delay:2s;
}

.circle3{
width:130px;
height:130px;
background:#3b82f6;
top:45%;
left:45%;
animation-delay:4s;
}

@keyframes float{

0%{
transform:translateY(0px);
}

50%{
transform:translateY(-30px);
}

100%{
transform:translateY(0px);
}

}
/* Analytics Highlights */

.highlights{

padding:100px 8%;

text-align:center;

}

.highlights h2{

font-size:45px;

margin-bottom:60px;

color:white;

}

.highlight-container{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:30px;

}

.card{

background:#111827;

padding:40px;

border-radius:18px;

border:1px solid rgba(59,130,246,.25);

transition:.4s;

box-shadow:0 0 20px rgba(59,130,246,.08);

}

.card:hover{

transform:translateY(-12px);

box-shadow:0 0 35px rgba(59,130,246,.35);

border-color:#3b82f6;

}

.card h1{

font-size:46px;

color:#3b82f6;

margin-bottom:15px;

}

.card p{

font-size:18px;

color:#d1d5db;

}
/* Projects */

.projects{
    padding:100px 8%;
}

.projects h2{
    text-align:center;
    font-size:45px;
    margin-bottom:60px;
}

.project-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(330px,1fr));
    gap:30px;
}

.project-card{
    background:#111827;
    padding:30px;
    border-radius:20px;
    border:1px solid rgba(59,130,246,.25);
    transition:.4s;
}

.project-card:hover{
    transform:translateY(-10px);
    border-color:#3b82f6;
    box-shadow:0 0 30px rgba(59,130,246,.25);
}

.project-card h3{
    color:#3b82f6;
    margin-bottom:15px;
}

.project-card p{
    color:#d1d5db;
    line-height:1.7;
    margin-bottom:20px;
}

.tech{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    margin-bottom:25px;
}

.tech span{
    background:#1f2937;
    color:#60a5fa;
    padding:8px 16px;
    border-radius:30px;
    font-size:14px;
}

.project-card .buttons{
    display:flex;
    gap:15px;
}

.project-card .buttons a{
    text-decoration:none;
    padding:10px 20px;
    border-radius:10px;
    background:#3b82f6;
    color:white;
    font-size:15px;
    transition:.3s;
}

.project-card .buttons a:hover{
    background:#2563eb;
}
/* About */

.about{

padding:100px 8%;

}

.about h2{

text-align:center;

font-size:45px;

margin-bottom:50px;

}

.about-card{

background:#111827;

padding:50px;

border-radius:20px;

border:1px solid rgba(59,130,246,.25);

box-shadow:0 0 25px rgba(59,130,246,.08);

}

.about-card p{

font-size:20px;

line-height:2;

color:#d1d5db;

text-align:center;

}

.about-card span{

color:#3b82f6;

font-weight:700;

}
/* Skills */

.skills{

padding:100px 8%;

text-align:center;

}

.skills h2{

font-size:45px;

margin-bottom:60px;

}

.skills-container{

display:flex;

justify-content:center;

flex-wrap:wrap;

gap:20px;

}

.skill{

padding:18px 35px;

background:#111827;

border:1px solid rgba(59,130,246,.25);

border-radius:50px;

font-size:18px;

font-weight:600;

transition:.4s;

cursor:pointer;

}

.skill:hover{

background:#3b82f6;

color:white;

transform:translateY(-8px);

box-shadow:0 0 25px rgba(59,130,246,.45);

}
/* Certifications */

.certifications{

padding:100px 8%;

text-align:center;

}

.certifications h2{

font-size:45px;

margin-bottom:60px;

}

.cert-container{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

gap:25px;

}

.cert-card{

background:#111827;

padding:30px;

border-radius:18px;

border:1px solid rgba(59,130,246,.25);

transition:.4s;

}

.cert-card:hover{

transform:translateY(-10px);

border-color:#3b82f6;

box-shadow:0 0 30px rgba(59,130,246,.30);

}

.cert-card h3{

color:#3b82f6;

margin-bottom:10px;

}

.cert-card p{

color:#d1d5db;

}